@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(file:///C:/Users/Lucas/Desktop/imersao-css/rayssa/img/texture.png), linear-gradient(-135deg, #580658, #f0b9c2);
    font-size: 16px;
}

@media (min-width: 400px) {
    body {
        font-size: 15px;
    }
}

.container {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 75em;
    height: 35em;
    max-height: 90%;
    background-color: whitesmoke;
    margin: auto;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 18px #333;
}

.container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.container .text .align {
    width: 60%;
}

.container .text .align .introduction {
    font-family: 'Grand Hotel', sans-serif;
    font-size: 2.8em;
    color: grey;
}

.container .text .align .name {
    width: 60%;
    height: 100%;
    font-family: 'Grand Hotel', sans-serif;
    font-size: 7.5em;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    font-size: 2em;
    left: 11px;
    position: relative;
}

.icons a {
    color: rgb(196, 153, 153);
}

.image {
    width: 40%;
    height: 100%;
    background-image: url('https://lh3.googleusercontent.com/LDOJzBCOF2kx7tDNdIl0WWzyMAo78RAG_MQCx9ye-uYEWHuZiJ_3dbCVhN-InowaTgqLv8CSzsRXsq_KelMKTn5YexWb73QPS9qYPOlMIWsWTvhwLZioaqUw7TDglVrlUs59h0x3sAACvUWRgYjXjTuJAj0hy8wgF4K76V0nFRelD56gqeViA2VpPJ5Y5SYwWffSk5VvxSHXWZrCznfH5ThqwnbppDXcmhNHIxMc8zOalVpp5NK65_tj5GAT6CQO837Z44_vCXElbUIiZnTkn32cMXbRrSKnt7MncZpn4AdTDNg5w9_S7Js0-o1AOcGTQ7piDKuqb-TjvZNZmj-8UOHOY7u1aaRFcz1w0t7wRVOMWog50HFNx8Y6G-X51IBFmzEFR-O1oN6_5mOl8m3nErzi3LuCEF-boVTA6o5HIhwJ0U_BuhKePB5DrteRJXDhp0464T-NZX_yq6sMp_g-kCbh4fsru427BNqX2vS-ucYNXN8qm1HZwWIBncUQbCNtfvJ6bVFZfFwZtPkH7awVni7bXbycT_IaCuSI58US1Ho_Hrsj5AXOM3X2M6WoYV0TPOuH_-mDI5uasKTnQzKyqGcqT_oBSK0xm5mhBjVcP0HQ0dfKg8xOTCBwldqeOtK98pcDh9RBef6WeEMXs3552tSSZHvrcF_hTA11NnlSw9no-zQ=w734-h977-no?authuser=0');
    background-size: cover;
    background-position: top center;
}